In [26]:
import pandas as pd

In [27]:
clasif_orig = pd.read_csv('../data/clasif.csv', index_col=0)

In [28]:
clasif_orig.sort_values(by='Jornada', inplace=True)

In [29]:
clasif_orig['Puntos Jornada']= clasif_orig.groupby('Equipo')['Puntos'].transform(lambda x: x - x.shift())

In [36]:
clasif_orig['Puntos 3J']= clasif_orig.groupby('Equipo')['Puntos Jornada'].transform(lambda x: x.rolling(3).mean())
clasif_orig['Puntos 5J']= clasif_orig.groupby('Equipo')['Puntos Jornada'].transform(lambda x: x.rolling(5).mean())
clasif_orig[clasif_orig['Equipo'] == 'Espanyol']

,Posicion,Equipo,Puntos,J,G,E,P,F,C,Puntos Jornada,Puntos 3J,Puntos 5J
Jornada,,,,,,,,,,,,
37,1,Espanyol,77,37,23,8,6,66,23,NaN,NaN,NaN
38,1,Espanyol,78,38,23,9,6,66,23,1.0,NaN,NaN
39,1,Espanyol,78,39,23,9,7,66,25,0.0,NaN,NaN
40,1,Espanyol,81,40,24,9,7,70,26,3.0,1.333333,NaN
41,1,Espanyol,82,41,24,10,7,71,27,1.0,1.333333,NaN
42,1,Espanyol,82,41,24,10,7,71,27,0.0,1.333333,1.0

In [40]:
def zona_tabla(x):
    if x <= 2 : return 'Asc Directo'
    elif x <= 6 : return 'Play off'
    elif x <= 11 : return 'Media Alta'
    elif x <= 17 : return 'Media Baja'
    else : return 'Descenso'

In [44]:
clasif_orig['Zona']= clasif_orig['Posicion'].apply(lambda x: zona_tabla(x))
clasif_orig

,Posicion,Equipo,Puntos,J,G,E,P,F,C,Puntos Jornada,Puntos 3J,Puntos 5J,Zona
Jornada,,,,,,,,,,,,,
37,1,Espanyol,77,37,23,8,6,66,23,NaN,NaN,NaN,Asc Directo
37,22,Albacete,33,37,8,9,20,24,46,NaN,NaN,NaN,Descenso
37,21,Lugo,37,37,8,13,16,32,49,NaN,NaN,NaN,Descenso
37,20,FC Cartagena,39,37,9,12,16,36,47,NaN,NaN,NaN,Descenso
37,19,Sabadell,40,37,9,13,15,35,42,NaN,NaN,NaN,Descenso
...,...,...,...,...,...,...,...,...,...,...,...,...,...
42,2,Mallorca,81,41,24,9,8,52,26,0.0,2.000000,2.0,Asc Directo
42,1,Espanyol,82,41,24,10,7,71,27,0.0,1.333333,1.0,Asc Directo
42,21,CD Castellón,41,41,11,8,22,35,51,0.0,0.000000,0.0,Descenso
42,10,Las Palmas,53,41,13,14,14,45,53,0.0,1.000000,0.8,Media Alta
42,22,Albacete,38,41,9,11,21,29,51,0.0,0.333333,1.0,Descenso